<div class="dashboard-container" data-index="0">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar' %>
  </div>

  <div class="dashboard-main">
    <h2>Welcome <%= @user.first_name %>, these are your upcoming space trips:</h2>
    <h3>Your current active trip:</h3>
    <% @bookings.where(confirmation_status: 'active').each do |booking| %>
      <% @spaceship = Spaceship.where(id: booking.spaceship_id)[0] %>
      <div class="card-dashboard">
        <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
          <%= cl_image_tag @spaceship.image, width: 400, height: 300, crop: :fill %>
        <% end %>
        <div class="tag <%= booking.confirmation_status %>">
          <p><%= booking.confirmation_status %></p>
        </div>
        <div class="card-dashboard-body">
          <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
            <h3><%= @spaceship.name %></h3>
          <% end %>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <%= booking.confirmation_status %></p>
          <div class="buttons buttons-right">
            <%= link_to "CANCEL", user_reject_path(current_user, booking, stay: true), class: "btn btn-main red-btn" %>
            <%= link_to "CONTACT OWNER", '#', class: "btn btn-main" %>
          </div>
        </div>
      </div>
    <% end %>

    <h3>Pending requests:</h3>
    <% @bookings.where(confirmation_status: 'pending').each do |booking| %>
      <% @spaceship = Spaceship.where(id: booking.spaceship_id)[0] %>
      <div class="card-dashboard">
        <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
          <%= cl_image_tag @spaceship.image, width: 400, height: 300, crop: :fill %>
        <% end %>
        <div class="tag <%= booking.confirmation_status %>">
          <p><%= booking.confirmation_status %></p>
        </div>
        <div class="card-dashboard-body">
          <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
            <h3><%= @spaceship.name %></h3>
          <% end %>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <%= booking.confirmation_status %></p>
          <div class="buttons buttons-right">
            <%= link_to "CANCEL", user_reject_path(current_user, booking, stay: true), class: "btn btn-main red-btn" %>
            <%= link_to "CONTACT OWNER", '#', class: "btn btn-main" %>
          </div>
        </div>
      </div>
    <% end %>

    <h3>Accepted requests:</h3>
    <% @bookings.where(confirmation_status: 'accepted').each do |booking| %>
      <% @spaceship = Spaceship.where(id: booking.spaceship_id)[0] %>
      <div class="card-dashboard">
        <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
          <%= cl_image_tag @spaceship.image, width: 400, height: 300, crop: :fill %>
        <% end %>
        <div class="tag <%= booking.confirmation_status %>">
          <p><%= booking.confirmation_status %></p>
        </div>
        <div class="card-dashboard-body">
          <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
            <h3><%= @spaceship.name %></h3>
          <% end %>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <%= booking.confirmation_status %></p>
          <div class="buttons buttons-right">
            <%= link_to "CANCEL", user_reject_path(current_user, booking, stay: true), class: "btn btn-main red-btn" %>
            <%= link_to "CONTACT OWNER", '#', class: "btn btn-main" %>
          </div>
          <% if booking.confirmation_status == "done" %>
            <div class="buttons buttons-left">
              <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-<%=booking.spaceship.id %>">
                REVIEW
              </button>
            </div>
          <% end %>
          <div class="modal fade" id="modal-<%=booking.spaceship.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">DROP A REVIEW</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for([current_user, booking.spaceship, Review.new]) do |f| %>
                    <%= f.input :id, as: :hidden, :input_html => { :value => "#{booking.spaceship_id}" }  %>
                    <%= f.input :rating %>
                    <%= f.input :content %>
                    <%= f.button :submit, class: "btn btn-main" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <h3>Rejected requests:</h3>
    <% @bookings.where(confirmation_status: 'rejected').each do |booking| %>
      <% @spaceship = Spaceship.where(id: booking.spaceship_id)[0] %>
      <div class="card-dashboard">
        <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
          <%= cl_image_tag @spaceship.image, width: 400, height: 300, crop: :fill %>
        <% end %>
        <div class="tag <%= booking.confirmation_status %>">
          <p><%= booking.confirmation_status %></p>
        </div>
        <div class="card-dashboard-body">
          <%= link_to user_spaceship_path(@spaceship.user, @spaceship) do %>
            <h3><%= @spaceship.name %></h3>
          <% end %>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <%= booking.confirmation_status %></p>
          <div class="buttons buttons-right">
            <%= link_to "CANCEL", user_reject_path(current_user, booking, stay: true), class: "btn btn-main red-btn" %>
            <%= link_to "CONTACT OWNER", '#', class: "btn btn-main" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
