<h1>Hello World</h1>

<h2>Bookings to accept (with confirmation_status: pending)</h2>
<% @spaceships.each do |spaceship| %>
  <% spaceship.bookings.where(confirmation_status: "pending").each do |booking| %>
    <p> <%= booking.confirmation_status %></p>
    <p> <%= booking.start_date %> <%= booking.end_date %> </p>
    <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
  <% end %>
  <p> <%= spaceship.name %> </p>
<% end %>

<h2>All Bookings to be filtered by status with drop down list</h2>

<div data-controller="dropdown">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"
         data-target="dropdown.allbookings"
         data-action="click->dropdown#show">All bookings</a>
      <a class="dropdown-item" data-target ="dropdown.pendingbookings">Pending bookgins</a>
      <a class="dropdown-item" data-target ="dropdown.acceptedbookings">Accepted bookings</a>
      <a class="dropdown-item" data-target ="dropdown.rejectedbookings">Rejected bookings</a>
      <a class="dropdown-item" data-target ="dropdown.activebookings">Active bookings</a>
      <a class="dropdown-item" data-target ="dropdown.donebookings">Done bookings</a>
    </div>
  </div>

  <div id="results-position">
    <div data-target="dropdown.results_all_bookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
    <div data-target="dropdown.results_pending_bookings" class = "pendingbookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.where(confirmation_status: "pending").each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
    <div data-target="dropdown.results_accepted_bookings" class = "acceptedbookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.where(confirmation_status: "accepted").each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
    <div data-target="dropdown.results_rejected_bookings" class = "rejectedbookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.where(confirmation_status: "rejected").each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
     <div data-target="dropdown.results_active_bookings" class = "activebookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.where(confirmation_status: "active").each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
    <div data-target="dropdown.results_done_bookings" class = "donebookings">
      <% @spaceships.each do |spaceship| %>
        <% spaceship.bookings.where(confirmation_status: "done").each do |booking| %>
          <p> <%= booking.confirmation_status %></p>
          <p> <%= booking.start_date %> <%= booking.end_date %> </p>
          <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
        <% end %>
        <p> <%= spaceship.name %> </p>
      <% end %>
    </div>
  </div>
</div>

<!-- %w(pending accepted rejected active done) -->
