<div class="dashboard-container" data-index="3" >
  <div class="sidebar">
    <%= render 'shared/dashboardsidebar' %>
  </div>
  <div class= "dashboard-main">
    <h2>Pending bookings requests:</h2>
    <% @spaceships.each do |spaceship| %>
      <% spaceship.bookings.where(confirmation_status: "pending").each do |booking| %>
        <div class="card-dashboard card-dashboard-body">
          <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
          <div class="card-dashboard-body">
            <h3><%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </h3>
            <p><%= spaceship.name %> from <%= booking.start_date %> to <%= booking.end_date %> </p>
            <p>status: <%= booking.confirmation_status %></p>
            <div class="avatar-container">
              <%= cl_image_tag(booking.user.image, width: 75, height: 75, crop: :fill, :class => "avatar") %>
            </div>
            <div class="buttons buttons-left">
              <%= link_to "ACCEPT", user_accept_path(current_user, booking), class: "btn btn-main green-btn #{'hide' unless booking.confirmation_status == "pending"}" %>
              <%= link_to "REJECT", user_reject_path(current_user, booking), class: "btn btn-main red-btn #{'hide' unless booking.confirmation_status == "pending"}" %>
              <%= link_to "CANCEL", user_reject_path(current_user, booking), class: "btn btn-main red-btn #{'hide' unless booking.confirmation_status == "accepted"}" %>
            </div>
            <div class="buttons buttons-right">
              <%= link_to "CONTACT USER", '#', class: "btn btn-main" %>
              <%= link_to "PROFILE", '#', class: "btn btn-main" %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <h2>All Bookings to be filtered by status with drop down list</h2>

    <div data-controller="dropdown">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" data-target ="dropdown.acceptedbookings">Accepted bookings</a>
          <a class="dropdown-item" data-target ="dropdown.allbookings">All bookings</a>
          <a class="dropdown-item" data-target ="dropdown.pendingbookings">Pending bookgins</a>
          <a class="dropdown-item" data-target ="dropdown.rejectedbookings">Rejected bookings</a>
          <a class="dropdown-item" data-target ="dropdown.activebookings">Active bookings</a>
          <a class="dropdown-item" data-target ="dropdown.donebookings">Done bookings</a>
        </div>
      </div>

      <div id="results-position">
        <div data-target="dropdown.results_all_bookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "accepted").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <h3><%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </h3>
                  <p><%= spaceship.name %> from <%= booking.start_date %> to <%= booking.end_date %> </p>
                  <p>status: <%= booking.confirmation_status %></p>
                  <div class="avatar-container">
                    <%= cl_image_tag(booking.user.image, width: 75, height: 75, crop: :fill, :class => "avatar") %>
                  </div>
                  <div class="buttons buttons-left">
                    <%= link_to "ACCEPT", user_accept_path(current_user, booking), class: "btn btn-main green-btn #{'hide' unless booking.confirmation_status == "pending"}" %>
                    <%= link_to "REJECT", user_reject_path(current_user, booking), class: "btn btn-main red-btn #{'hide' unless booking.confirmation_status == "pending"}" %>
                    <%= link_to "CANCEL", user_reject_path(current_user, booking), class: "btn btn-main red-btn #{'hide' unless booking.confirmation_status == "accepted"}" %>
                  </div>
                  <div class="buttons buttons-right">
                    <%= link_to "CONTACT USER", '#', class: "btn btn-main" %>
                    <%= link_to "PROFILE", '#', class: "btn btn-main" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div data-target="dropdown.results_pending_bookings" class = "pendingbookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "pending").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <h3><%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </h3>
                  <p><%= spaceship.name %> from <%= booking.start_date %> to <%= booking.end_date %> </p>
                  <p>status: <%= booking.confirmation_status %></p>
                  <div class="avatar-container">
                    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
                  </div>
                  <div class="buttons buttons-left">
                    <%= link_to "ACCEPT", user_accept_path(current_user, booking), class: "btn btn-main green-btn" %>
                    <%= link_to "REJECT", user_reject_path(current_user, booking), class: "btn btn-main red-btn" %>
                  </div>
                  <div class="buttons buttons-right">
                    <%= link_to "CONTACT USER", '#', class: "btn btn-main" %>
                    <%= link_to "PROFILE", '#', class: "btn btn-main" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div data-target="dropdown.results_accepted_bookings" class = "acceptedbookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "accepted").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <p> <%= booking.confirmation_status %></p>
                  <p> <%= booking.start_date %> <%= booking.end_date %> </p>
                  <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
                  <p> <%= spaceship.name %> </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div data-target="dropdown.results_rejected_bookings" class = "rejectedbookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "rejected").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <p> <%= booking.confirmation_status %></p>
                  <p> <%= booking.start_date %> <%= booking.end_date %> </p>
                  <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
                  <p> <%= spaceship.name %> </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div data-target="dropdown.results_active_bookings" class = "activebookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "active").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <p> <%= booking.confirmation_status %></p>
                  <p> <%= booking.start_date %> <%= booking.end_date %> </p>
                  <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
                  <p> <%= spaceship.name %> </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div data-target="dropdown.results_done_bookings" class = "donebookings">
          <% @spaceships.each do |spaceship| %>
            <% spaceship.bookings.where(confirmation_status: "done").each do |booking| %>
              <div class="card-dashboard card-dashboard-body">
                <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
                <div class="card-dashboard-body">
                  <p> <%= booking.confirmation_status %></p>
                  <p> <%= booking.start_date %> <%= booking.end_date %> </p>
                  <p> <%= booking.user.first_name %> <%= booking.user.last_name %> want to rent: </p>
                  <p> <%= spaceship.name %> </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
