<div class="dashboard-container" data-index="2">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar' %>
  </div>

  <div class="dashboard-main">
    <h2>My Spaceships:</h2>
    <% @spaceships.each do |spaceship| %>
      <div class="card-dashboard">
        <%= cl_image_tag spaceship.image, width: 400, height: 300, crop: :fill %>
        <div class="card-dashboard-body">
          <h3><%= spaceship.name %></h3>
          <div class="buttons buttons-right">
            <%= link_to "BOOKINGS", '#', class: "btn btn-main" %>
            <%= link_to "EDIT", edit_user_spaceship_path(current_user, spaceship), class: "btn btn-main" %>
            <%= link_to "DELETE", user_spaceship_path(current_user, spaceship),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-main red-btn" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to "Add a ship", new_user_spaceship_path(current_user), class: "btn btn-main" %>
  </div>
</div>
