<div class="dashboard-container" data-index="1">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">
    <%= cl_image_tag(@user.image, height: 300, width: 400, crop: :fill) %>

    <h2><%= @user.first_name %>'s Account</h2>
    <p>Find me in app/views/users/show.html.erb</p>
    <p> First name: <%= @user.first_name %> </p>
    <p> Last name: <%= @user.last_name %> </p>
    <p> Species: <%= @user.species %> </p>
    <p> Email: <%= @user.email %> </p>
    <p> Payment info: <%= @user.payment_info %> </p>
    <%= link_to "Edit my profile", edit_user_path(current_user), class: "btn btn-main" %>
  </div>

</div>
