<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p> First name: <%= @user.first_name %> </p>
<p> Last name: <%= @user.last_name %> </p>
<p> Species: <%= @user.species %> </p>
<p> Email: <%= @user.email %> </p>
<p> Payment info: <%= @user.payment_info %> </p>
