<div class="sidebar-body"
      data-controller="tab">

  <ul class="tabs">
    <li id="sidebar-title">Dashboard</li>

    <%= link_to user_dashboard_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">My space trips</li>
    <% end %>

    <%= link_to user_dashboard_account_info_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">Account</li>
    <% end %>

    <%= link_to user_dashboard_my_spaceships_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">My spaceships</li>
    <% end %>

    <%= link_to user_dashboard_my_spaceships_bookings_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">Spaceship bookings</li>
    <% end %>

    <%= link_to user_dashboard_add_review_path(current_user) do %>
      <li class="sidebar-tab" data-target="tab.bar">Add a review</li>
    <% end %>
  </ul>
</div>

