<div class="banner">
  <div class="scroll-rocket">
    <h1 class="bounce-top"><i class="fas fa-rocket"></i></h1>
  </div>
  <div class="title">
    <h1><i class="fas fa-rocket rotate-center"></i></h1>
    <h1> SpaceBNB</h1>
    <h2>Rent a spaceship. Reach the stars.</h2>
  </div>
  <div class="top-5">
    <% averages = [] %>
    <%= puts @spaceships.length %>
    <% spaceships = @spaceships.sort_by do |spaceship|%>
      <% ratings = [] %>
      <% spaceship.bookings.each do |booking|%>
        <% booking.reviews.each do |review| %>
          <% ratings << review.rating %>
        <% end %>
      <% end %>
      <% average = 3 %>
      <% averages << average = (ratings.sum / ratings.size).round(2) if ratings.size > 0 %>
      <% average %>
    <% end %>
    <h3 class="slide-in-elliptic-top-fwd">Our 5 most beloved spaceships:</h2>
    <div class="container-div top-5-container-div">
      <div class="cards-container top-5-cards-container">
         <div class="cards top-5-cards">
          <% i = 0 %>
          <% averages = averages.sort.reverse %>
          <% spaceships.reverse.first(5).each do |spaceship| %>
            <%= link_to user_spaceship_path(spaceship.user, spaceship) do %>
              <div class="card spaceship-card-small top-5-card slide-in-elliptic-top-fwd" style="min-width: 120px;">
                <div class="card-img-top" style="background-image: url(<%= cl_image_path spaceship.image, height: 100, crop: :fill %>); background-position: center">
                  <div class="card-stars">
                    <% averages[i].to_i.times do %>
                      <i class="fas fa-star full-stars" id="reviews-full-stars"></i>
                    <% end %>
                    <% (5 - averages[i].to_i).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= spaceship.name %></h5>
                </div>
              </div>
            <% end %>
            <% i += 1 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-div">
  <div class="cards-container">
    <div class="cards">
      <% i = 0 %>
      <% spaceships.reverse.each do |spaceship| %>
        <%= link_to user_spaceship_path(spaceship.user, spaceship) do %>
          <div class="card spaceship-card-small" style="min-width: 18rem;">
            <div class="card-img-top" style="background-image: url(<%= cl_image_path spaceship.image, height: 200, crop: :fill %>); background-position: center">
              <div class="card-stars">
                <% averages[i].to_i.times do %>
                  <i class="fas fa-star full-stars" id="reviews-full-stars"></i>
                <% end %>
                <% (5 - averages[i].to_i).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= spaceship.name %></h5>
              <p class="card-text"><%= spaceship.city %></p>
              <p class="price">€<%= spaceship.price %></p>
            </div>
          </div>
        <% end %>
        <% i += 1 %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= link_to "ADD A SPACESHIP", new_user_spaceship_path(current_user), class: "btn btn-main" %>
    <!--    render "form" %> -->
    <% end %>
  </div>
  <div class="map-container">
    <div
    id="map"
    style="width: 100%;
    height: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

