
<div class="spaceship-banner" style="background-image: url('<%= cl_image_path(@spaceship.image, :crop => :fill) %>');">
  <p data-controller= "booking" id="booking-message-good">
    <%= @message %>
  </p>
</div>

<div class="container">

  <div class="row">


    <div class="col-12 col-md-9">
      <div class="spaceship-presentation">
        <h2><%= @spaceship.name %></h2>
        <% reviews = [] %>
        <% ratings = [] %>
        <% no_ratings = nil %>
        <% @spaceship.bookings.each do |booking|%>
          <% reviews << booking.reviews.length %>
          <% booking.reviews.each do |review| %>
            <% ratings << review.rating.to_i %>
          <% end %>
        <% end %>
        <% if reviews.sum > 0 %>
          <% average = (ratings.sum / ratings.size).round(2) if ratings.size > 0 %>
          <p>Average rating: <%= no_ratings %>
          <% average.times do %>
            <i class="fas fa-star" id="reviews-full-stars"></i>
          <% end %>
          <% (5 - average).times do %>
            <i class="far fa-star"></i>
          <% end %>
        <% else %>
          <p>Average Rating: No existing reviews yet</p>
        <% end %>
        </p>
        <p>Capacity: <%= @spaceship.capacity %></p>

        <h3>Description</h3>
        <p><%= @spaceship.description %></p>

        <h3>Address</h3>
        <p><%= @spaceship.address %></p>
        <div
          id="map"
          style="width: 100%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          <%= link_to "Back", root_path, class: "btn btn-main" %>
          <% if policy(@spaceship).edit? %>
            <%= link_to "Edit", edit_user_spaceship_path(current_user, @spaceship), class: "btn btn-main" %>
            <%= link_to "Delete", user_spaceship_path(current_user, @spaceship), method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-main" %>
          <% end %>
       </div>
    </div>

    <div class="booking-form calendar col-12 col-md-3" id="booking-form-ship">
      <% if user_signed_in? %>
        <%= simple_form_for([current_user, @spaceship, Booking.new]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true  %>
          <%= f.input :end_date, as: :date, html5: true  %>
          <div class="buttons">
            <%= f.button :submit, class: "btn btn-main" %>
          </div>
        <% end %>
      <% else %>
        <p>You need to be logged in to create a booking.</p>
        <div class="buttons">
          <%= link_to "LOGIN", new_user_session_path, class: "btn btn-main" %>
          <%= link_to "REGISTER", new_user_registration_path, class: "btn btn-main" %>
        </div>
      <% end %>
    </div>

    <div>
      <div>
        <h3>Reviews (<%= @reviews.length %>)</h3>
        <div>
          <div class = "review-graph">
            <% (@five_stars.length).times do %>
              <span class = "review-filled"></span>
            <% end %>
            <% (@reviews.length - @five_stars.length).times do %>
              <div class = "review-empty"></div>
            <% end %>
            <div>
              <p><%= @five_stars.length %> <% 5.times do %> <i class="fas fa-star" id="reviews-full-stars"></i> <% end %></p>
            </div>
          </div>
          <div class = "review-graph">
            <% @four_stars.length.times do %>
              <span class = "review-filled"></span>
            <% end %>
            <% (@reviews.length - @four_stars.length).times do %>
              <div class = "review-empty"></div>
            <% end %>
            <div>
              <p><%= @four_stars.length %> <% 4.times do %> <i class="fas fa-star" id="reviews-full-stars"></i> <% end %></p>
            </div>
          </div>
          <div class = "review-graph">
            <% @three_stars.length.times do %>
              <span class = "review-filled"></span>
            <% end %>
            <% (@reviews.length - @three_stars.length).times do %>
              <div class = "review-empty"></div>
            <% end %>
            <div>
              <p><%= @three_stars.length %> <% 3.times do %> <i class="fas fa-star" id="reviews-full-stars"></i> <% end %></p>
            </div>
          </div>
          <div class = "review-graph">
            <% @two_stars.length.times do %>
              <span class = "review-filled"></span>
            <% end %>
            <% (@reviews.length - @two_stars.length).times do %>
              <div class = "review-empty"></div>
            <% end %>
            <div>
              <p><%= @two_stars.length %> <% 2.times do %> <i class="fas fa-star" id="reviews-full-stars"></i> <% end %></p>
            </div>
          </div>
          <div class = "review-graph">
            <% @one_star.length.times do %>
              <span class = "review-filled"></span>
            <% end %>
            <% (@reviews.length - @one_star.length).times do %>
              <div class = "review-empty"></div>
            <% end %>
            <div>
              <p><%= @one_star.length %> <i class="fas fa-star" id="reviews-full-stars"></i></p>
            </div>
          </div>
        </div>
      </div>
      <div id = "reviews">
        <% @reviews.each do |review| %>
          <div class ="review-display">
            <div class="avatar-container">
              <%= cl_image_tag(review.booking.user.image, width: 75, height: 75, crop: :fill, :class => "avatar") %>
            </div>
            <p><%= review.booking.user.first_name %> <br> <%= review.booking.user.last_name %></p>
            <div class="review-content">
              <p><span>Rating:</span>
                <% review.rating.times do %>
                  <i class="fas fa-star" id="reviews-full-stars"></i>
                <% end %>
                <% (5 - review.rating).times do %>
                  <i class="far fa-star"></i>
                <% end %>
              </p>
              <p><span>Content:</span> <%= review.content %> </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

